  body {
    margin: 1%;
    background-size: auto;
    font-family: Lato, sans-serif;
  }

  .background-video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: fill;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    opacity: 0.5;
    
  }
  
  .container {
    border-radius: 15px;
    width: 90%;
    max-width: 90%;
    margin: auto;
    padding: 0%;
    align-items: center;
    height: auto;
    
  }

  header {
    text-align: center;
    background-color: #e9f3f1;
    color: #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 24px;
    align-items: center;
    opacity: 0.7;
  }

  HE

  header, h1 {
    margin: 0;
    font-weight: 120;
    font-size: 60px;
    align-items: center;
    text-align: center;
    text-shadow: 3px 3px 3px #ababab;
  }

  nav ul {
    list-style-type: none;
    font-size: 30px;
    padding: 0;
  }

  nav ul li {
    display: inline;
    
  }

  nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    transition: background-color 0.3s;
    
    
  }

  nav ul li a:hover {
    color: #ad18b0;
  }

  @media (max-width: 768px) {
    .container {
      align-items: center;
    align-items: center;
    }

    nav {
      margin-top: 20px;
      text-align: center;
    }

    nav ul {
      text-align: center;
    }

    nav ul li {
      display: block;
      margin-bottom: 10px;
    }

  }

  .form-box {

    body { 
      margin: 0; 
      display: flex; 
      align-items: center; 
      justify-content: space-around; 
      flex-direction: column; 
      height: 100vh; 
      background-color: #036c5f; 
    
  } 
    
  .textup { 
      text-align: center; 
      font-weight: 700; 
      font-size: 25px;
  } 
    
  i { 
      margin-right: 3px; 
  } 
    
  .form-box { 
      background-color: #ad18b0; 
      box-shadow: 0 0 10px rgba(36, 67, 40, 0.8); 
      padding: 15px; 
      border-radius: 8px; 
      width: 500px; 
  } 
    
  form { 
      max-width: 400px; 
      margin: 0 auto; 
  } 
    
  .radio-group { 
      display: flex; 
      margin-bottom: 6px; 
  } 
    
  input[type="radio"] { 
      margin-right: 8px; 
  } 
    
  label { 
      display: block; 
      margin-bottom: 8px; 
      font-size: 22px; 
      font-weight: 600; 
  } 
    
  input, 
  textarea { 
      width: 100%; 
      padding: 8px; 
      margin-bottom: 12px; 
      box-sizing: border-box; 
      border-radius: 10px; 
    
  } 
    
  button { 
      background-color: #ad18b0;; 
      color: #fff; 
      padding: 10px; 
      border: none; 
      border-radius: 25px; 
      cursor: pointer; 
      width: 100%; 
      font-size: 20px; 
      transition: .2s linear;
  } 
    
  button:hover { 
      background-color: #000000; 
      border: none; 
      transform: translateY(-10px); 
  } 
    
  h1 { 
      color: green; 
  }


  .customer-care{
    body{
      padding: 0;
      margin: 0;
      color: rgb(172, 60, 60);
      background-color: rgba(224, 217, 217, 0.863);
  }
  .container1{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
  }
  h1{
      width: 100%;
      font-size: 400px;
  }
  h2{
      font-size: 20px;
  }
  .contact-items{
      display: flex;
      margin: 30px auto;
      flex-wrap: wrap;
      align-items: center;

  }
  .write-us{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 28%;
      margin: 30px auto;
      padding: 35px 15px;
      border-radius: 15px;
      text-align: center;
      min-width: 250px;
      
  }

  .write-us{
      height: 250px;
      box-shadow: 0 15px 15px red;
      border: 1px solid red;
  }

  
  p{
      font-size: 200px;
  }


  button{
      padding: 8px 16px;
      font-size: 17px;
      border-radius: 25px;
      border: none;
      margin: 15px auto;
      cursor: pointer;
      color: rgb(255, 255, 255);
  }
  button:hover{
      color: gray;
  }
  #cust-care{
      background: rgb(104, 210, 104);

      box-shadow: 0 0 5px black;
  }
 
  }

  }
  #items {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: space-evenly;
    justify-content: center;
  }
  #items a {
    text-decoration: none;
    color: black;
  }




  #photo {
    clear: both;
    line-height: 0;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}

  .social-networks {
    color: rgb(197, 90, 230);

  }
  
  footer ul {
  list-style: none;
}


#myBtn {
    position: fixed;
    bottom: 10px;
    left: 160px;
    background-color: rgb(220, 133, 202);
    color: white;
}

#myBtn:hover {
  background-color: #555;
}


.new {

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 1rem;
    min-height: 100vh;
    display: center;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, 1);
  }
  
  img {
    width: 100%;
    display: grid;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1000ms;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 100%;
    width: 70rem;
  }
  
  figure {
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    opacity: 1;
    transform: scale(2);
    transition: opacity 300ms;
  }
  
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
  }
  
  a:is(:hover, :focus) figure::after {
    opacity: 1;
  }
  
  a:is(:hover, :focus) figcaption {
    opacity: 1;
    transition: opacity 600ms;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    figcaption {
      transform: translate3d(0, 2rem, 0);
    }
    
    figure::after {
      border-radius: 50%;
      opacity: 1;
      transform: scale(0);
      transition: transform 900ms;
    }
    
    a:is(:hover, :focus) figure::after {
      transform: scale(2.5);
    }
  
    a:is(:hover, :focus) figcaption {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: opacity 600ms 400ms, transform 600ms 400ms;
    }
  
    a:is(:hover, :focus) img {
      transform: scale(1.2);
    }
  }

}
